@model IEnumerable<ElDorado.Domain.Whitepaper>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Blog.CompanyName)</th>
        <th>@Html.DisplayNameFor(model => model.Author.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.Editor.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.TargetOutlineDate)</th>
        <th>@Html.DisplayNameFor(model => model.TargetDraftDate)</th>
        <th>@Html.DisplayNameFor(model => model.TargeSubmissionDate)</th>
        <th>@Html.DisplayNameFor(model => model.IsGhostwritten)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td>@Html.DisplayFor(modelItem => item.Blog.CompanyName)</td>
        <td>@Html.DisplayFor(modelItem => item.Author.FullName)</td>
        <td>@Html.DisplayFor(modelItem => item.Editor.FullName)</td>
        <td>@Html.DisplayFor(modelItem => item.TargetOutlineDate)</td>
        <td>@Html.DisplayFor(modelItem => item.TargetDraftDate)</td>
        <td>@Html.DisplayFor(modelItem => item.TargeSubmissionDate)</td>
        <td>@Html.DisplayFor(modelItem => item.IsGhostwritten)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
