@model ElDorado.Gui.ViewModels.AccountsReceivableViewModel

@{
    ViewBag.Title = "AccountsReceivable";
}

<h2>AccountsReceivable</h2>

<table class="table">
    <tr>
        <th>Author</th>
        <th>Posts</th>
    </tr>
@foreach (var ledger in Model.AuthorLedgers) {
    <tr>
        <td>@Html.DisplayFor(modelItem => ledger.Name)</td>
        <td>
            @foreach(var post in ledger.Posts) {
                <table width="100%">
                    <tr>
                        <td>@Html.DisplayFor(modelItem => post.Title)</td>
                        <td align="right">@Html.DisplayFor(modelItem => post.Cost)</td>
                    </tr>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><b>@Html.DisplayFor(modelItem => ledger.Total)</b></td>
    </tr>
}
    <tr>
        <td>Grand Total</td>
        <td align="right"><b>@Html.DisplayFor(modelItem => Model.Total)</b></td>
    </tr>
</table>
