@model IEnumerable<ElDorado.Gui.ViewModels.AuthorTimelinessRecord>

@{
    ViewBag.Title = "AuthorTimeliness";
}

<h2>AuthorTimelinessReport</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.PostCount)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Timeliness)</th>
        <th>@Html.DisplayNameFor(model => model.TotalPosts)</th>
        <th>@Html.DisplayNameFor(model => model.LatePosts)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.PostCount)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Timeliness)</td>
        <td>@Html.DisplayFor(modelItem => item.TotalPosts)</td>
        <td>@Html.DisplayFor(modelItem => item.LatePosts)</td>
    </tr>
}

</table>
