@model IEnumerable<ElDorado.Domain.BlogPost>

@{
    ViewBag.Title = "HustlingEmail";
}

<h2>HustlingEmail</h2>

&lt;table border="1" cellpadding="10" class="mc-table"&gt;
<br />
&lt;tr&gt;
&lt;th style="width:45%"&gt;Post Title (Click for More Info)&lt;/th&gt;&lt;th&gt;Client&lt;/th&gt;&lt;th&gt;Due&lt;/th&gt;&lt;th&gt;Click to Claim&lt;/th&gt;
<br />
@foreach (var item in Model)
{
    @Html.Raw("&lt;tr&gt;");

    @Html.Raw($"&lt;td&gt;&lt;a href=\"https://trello.com/c/{item.TrelloId}\"&gt;{item.Title}&lt;/a&gt;&lt;/td&gt;");
    @Html.Raw($"&lt;td&gt;{item.BlogCompanyName}&lt;/td&gt;");
    if (@item.DraftDate != null)
    {
        @Html.Raw($"&lt;td&gt;{item.DraftDate.Value.ToShortDateString()}&lt;/td&gt;");
    }
    else
    {
        @Html.Raw("&lt;td&gt;Flexible&lt;/td&gt;");
    }
    @Html.Raw($"&lt;td&gt;&lt;a href=\"iwantapost@hitsubscribe.com?subject={Uri.EscapeDataString(item.Title)}\">This my post!&lt;/a&gt;&lt;/td&gt;");

    @Html.Raw("&lt;/tr&gt;");
    <br />
}
&lt;/table&gt;
