@model ElDorado.Gui.ViewModels.BlogPostIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>


    @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get))
    {
    <table class="navbar-text">
        <tr>
            <td>@Html.Label("Blog", htmlAttributes: new { @class = "control-label col-md-2" })</td>
            <td>@Html.DropDownList("blogId", Model.Blogs, "Choose a Client")</td>
            <td>@Html.Label("Author", htmlAttributes: new { @class = "control-label col-md-2" })</td>
            <td>@Html.DropDownList("authorId", Model.Authors, "Choose an Author")</td>
            <td>Show All Posts?</td>
            <td>@Html.CheckBox("includeAll")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Filter" /></td>
        </tr>
    </table>        
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().Blog.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().Keyword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().DraftDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().TargetFinalizeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().TargetPublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().DraftCompleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().SubmittedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().PublishedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogPosts.First().IsDoublePost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.BlogPosts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Blog.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keyword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DraftDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetFinalizeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetPublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DraftCompleteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDoublePost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { postId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { postId = item.Id })
        </td>
    </tr>
}

</table>
