@model IEnumerable<ElDorado.Domain.PostRefresh>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { blogPostId = Request.QueryString["blogPostId"] })
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Author.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.BlogPost.Title)</th>
        <th>@Html.DisplayNameFor(model => model.DraftDate)</th>
        <th>@Html.DisplayNameFor(model => model.SubmittedDate)</th>
        <th>@Html.DisplayNameFor(model => model.TargetPublicationDate)</th>
        <th>@Html.DisplayNameFor(model => model.Published)</th>
        <th>@Html.DisplayNameFor(model => model.AuthorPay)</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Author.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => item.BlogPost.Title)</td>
        <td>@Html.DisplayFor(modelItem => item.DraftDate)</td>
        <td>@Html.DisplayFor(modelItem => item.SubmittedDate)</td>
        <td>@Html.DisplayFor(modelItem => item.TargetPublicationDate)</td>
        <td>@Html.DisplayFor(modelItem => item.Published)</td>
        <td>@Html.DisplayFor(modelItem => item.AuthorPay)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
